import exiftool
import MySQLdb as mdb
import os
import json

def walk(path):
  for root, dirs, files in os.walk(path):
    for curfile in files:
      if curfile[-4:] == ".mp3":
        walked = '/'.join([root, curfile])
        yield walked

def to_utf(ascii_thing):
  return mdb.escape_string(unicode(ascii_thing).encode('utf8'))

# adjust database credentials as necessary
con = mdb.connect('localhost', '', '', '')

with exiftool.ExifTool() as et:
  # adjust this to walk() a directory that contains mp3 files
  for file in walk('/data'):
    result = et.get_metadata(file)
    if not con:
      # db credentials here
      con = mdb.connect('localhost', '', '', '')
    cur = con.cursor()
    
    try:
      cur.execute("insert into files (fullpath, title, artist, album, track, year, genre, bitrate) values ('%s','%s','%s','%s','%s','%s','%s','%s')" % (to_utf(result['SourceFile']), to_utf(result['ID3:Title']), to_utf(result['ID3:Artist']), to_utf(result['ID3:Album']), to_utf(result['ID3:Track']), to_utf(result['ID3:Year']), to_utf(result['ID3:Genre']), to_utf(result['MPEG:LameBitrate'])))
    except KeyError: 
      try:
        cur.execute("insert into files (fullpath, title, artist, album) values ('%s','%s','%s','%s')" % (to_utf(result['SourceFile']), to_utf(result['ID3:Title']), to_utf(result['ID3:Artist']), to_utf(result['ID3:Album'])))
      except KeyError:
        try:
          cur.execute("insert into files (fullpath, artist, album) values ('%s','%s','%s')" % (to_utf(result['SourceFile']), to_utf(result['ID3:Artist']), to_utf(result['ID3:Album'])))
      except KeyError:
          try:
	    cur.execute("insert into files (fullpath, title, album) values ('%s','%s','%s')" % (to_utf(result['SourceFile']), to_utf(result['ID3:Title']), to_utf(result['ID3:Album'])))
	  except KeyError, name:
	    print "DEBUG: %s" % name
